<header>
    <section>
        <div class="title item-one">
            <h1>Amazyn</h1>
        </div>
        <form class="searcher item-two" action="http://localhost:3000/amazyn">
                <input type="text" placeholder="Search" class="searcher-input">
                <button class="search-icon" type="submit"></button>
        </form>
        <div class="user-contain item-three" >
            <ul>
                <span class="number-cart"><%=Number_products%></span>
                <a  href="" class="cart"></a>
                <a href="" class="user"></a>
            </ul>
        </div>
    </section>
    <div class="line"><%-  %> </div>
</header>