<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/tablet.css" media="(max-width: 900px)">
<body>
    <%- include("./header.ejs") %> 
    
    <%-include("./main.ejs") %> 
    <footer>
        <div>
            <a href="">back to top</a>
        </div>
        <section>
            <!--  -->
        </section>
    </footer>
    <script src="http://localhost:3000/public/js/index.js" type="modules">
    </script>
</body>