<link rel="stylesheet" href="/styles/style.css">
<body>
    <header>
        <nav>
            <div class="title">
                <h1>amazyn=)</h1>
                <p><%- address %> </p>
            </div>
            <div class="searcher">
                    <input type="text" placeholder="Search" class="searcher-input">
                    <a href=""class="search-icon"></a>
            </div>
            <div>
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </nav>
        <div></div>
    </header>
    <div class="overlay">
        <ul>
            <li><a href="">My account</a></li>
            <li><a href="">My car</a></li>
            <li><a href="">My wishList</a></li>
            <li><a href="">Buy again</a></li>
            <li><a href="">Sell products</a></li>
        </ul>
    </div>
    <main>
    </main>
    <script src="./js/index.js" type="modules"></script>
</body>