<link rel="stylesheet" href="/styles/login.css">
<body>
    <header class="header">
        <h1>amazyn</h1>
    </header>
    <main class="main">
        <section class="container">
            <form action="http://localhost:3000/amazyn/auth/login", method="POST">
                <div >
                    <input type="email" id="email" placeholder="Email" name="email" required>
                </div>
                <div>
                    <input type="password" id="password" placeholder="Password" name="password" required>
                </div>
                <button type="submit">login</button>
            </form>
            <div class="footer-form">
                <ul>
                    <li><a href="http://localhost:3000/amazyn/register" class="register-Button">Register</a></li>
                    <li><a href="" class="register-Button">Password forgot</a></li>
                </ul>
            </div>
            <div class="not-valid-message">
                <% if(message){%> 
                    <p><%-message%></p>
                <% } %>
            </div>
        </section>
    </main>