
<body>
    <header>
        <h1>AMAZYN</h1>
    </header>
    <main>
        <section class="container">
            <form action="http://localhost:3000/amazyn/auth/login", method="POST">
                <div >
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
            <div class="register">
                <a href="http://localhost:3000/amazyn/register" class="register-Button">Register</a>
            </div>
        </section>
    </main>