
<body>
    <link rel="stylesheet" href="/styles/login.css">
    <header>
        <h1>Register</h1>
    </header>
    <main>
        <section class="container">
            <form action="http://localhost:3000/amazyn/auth/register", method="POST">
                <div >
                    <!-- <label for="name">Name</label> -->
                    <input type="name" id="name" name="name" required placeholder="Name">
                </div>
                <div >
                    <!-- <label for="email">Email</label> -->
                    <input type="email" id="email" name="email" required placeholder="Email" >
                </div>
                <div>
                    <input type="password" id="password" name="password" required placeholder="Password">
                </div>
                <button type="submit">register</button>
            </form>
            <div class="footer-form">
                <ul>
                    <li><a class="register-Button" href="http://localhost:3000/amazyn/login">login</a></li>
                </ul>
            </div>
        </section>
    </main>
</body>