:root{
    --main-color: #131921;
    --second-color: #232f3e;
    --third-color:#37475a;
    --colorText: #000000;
    --yellow: #febd69;
    /* --mainColor: linear-gradient(to right,#023e8a,#00b4d8); */
    --colorBack: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: var(--main-color);
}
header h1 {
    font-size: 3.6rem;
    color: var(--yellow);
}

main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
    padding-bottom: 40px;
}

main section{
    padding: 30px;
    padding-top: 20px;
    width: 300px;
    height: 350px;
    border: solid 1px black;
    background-color: var(--colorBack);
}

section form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}


.container div{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
.container div input{
    width: 200px;
    background: none;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    border: none;
    display: block;
    border-bottom: 1px solid black;
    outline: none;
}
.container div input:valid,.container div input:focus{
    border-bottom: 2px solid var(--yellow);
}
.container div input:hover{
    border-bottom: 2px solid var(--yellow);
}

.container form button{
    margin-top: 35px;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: var(--third-color);
    color: var(--yellow);
    font-size: 2rem;
}
.container form button:hover{
    background-color:var(--main-color);
    color: #fff;
}

section .register{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-Button{
    width: 100%;
    margin: auto;
    text-decoration: none;
    font-size: 1.5rem;
}
.footer-form{
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--second-color);
    padding: auto;
}
.footer-form ul{
    /* display: flex; */
    /* justify-content: ; */
    transition: 2s ease all;
}
.footer-form ul li{
    list-style: none;
    margin: 2px;
}
.footer-form ul li a{
    color: white;
}
.footer-form ul li a:hover{
    color: var(--yellow);
}
div.not-valid-message{
    width: 100%;
    height: 25px;
    padding: auto;
}
div.not-valid-message p{
    font-size: 1rem;
    color:red;
}