:root{
    --main-color: #131921;
    --second-color: #232f3e;
    --third-color:#37475a;
    --colorText: #000000;
    --yellow: #febd69;
    /* --mainColor: linear-gradient(to right,#023e8a,#00b4d8); */
    --colorBack: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
header{
    width: 100%;
    height: 80px;
    background-color: var(--main-color);
}
header nav{
    color: var(--yellow);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    width: 100%;
    height: 100%;
}
/* header div .searcher */
div.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title h1{
    font-size: 2.8rem;
    margin: 15px;
}
.title p{
    font-size: 2rem;
    margin: 20px;
    margin-right: 45px;
}

.searcher{        
    display: flex;
    align-items: center;
    width: 140%;
}

header div input {
    width: 90%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 2.2rem;
    border-radius: 5px 0 0 5px ;
}
.search-icon{
    background-image: url("http://localhost:3000/img/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--yellow);
    background-size: 25px;
    width: 45px;
    height: 60%;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.search-icon:hover{
    background-color: #ffae44;
}
